.bg-granny {
	background-color: #5e6564;
}
.bg-cover {
	background-image: url(./images/festival_films_plein_air-min.jpg);
	background-size: cover;
	background-position: center;
	min-height: fit-content;
}

.bg-cover-pop {
	background-image: url(./images/pop_corn.jpg);
}

.p-5em {
	padding: 5em;
}

.tc-title {
	color: #e43a44;
}

.tc-subtitle {
	color: #a8d9da;
}

.f-h {
	font-family: 'Merriweather Sans', sans-serif;
}

.f-p {
	font-family: 'Special Elite', cursive;
}
