.bg-granny {
	background-color: #5e6564;
}
.bg-cover {
	background-image: url(./images/festival_films_plein_air-min.jpg);
	background-size: cover;
	background-position: center;
    min-height: fit-content;
}

.bg-cover-pop {
	background-image: url(./images/pop_corn.jpg);
}


.p-5em {
    padding: 5em;
}

.tc-title {
    color: #E43A44;
}

.tc-subtitle {
    color: #A8D9DA;
}

.caps {
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 0.1rem;
}

.slab {
    font-family: 'Josefin Slab', serif;
}

